@page
@model SmrtAprtmentClient.Pages.LoginModel
@{
}
@Html.Raw(TempData["PostBackMessage"])
<section>
    <div class="row d-flex justify-content-center col-12">
        <div class="col-4 border border-primary rounded m-20">
            <form method="post" asp-action="Login" class="py-5">
                <div class="d-flex justify-content-center">
                    <i class="icon-map-marker icon-4x text-success"></i>
                </div>
                <div class="d-flex justify-content-center">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="form-group ">
                    <input asp-for="UserName" class="form-control" placeholder="ID" required autofocus />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success btn-block">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</section>

